<!-- <nav>
    <a href="/">Home</a>
    <a href="/custom">Custom</a>
    <a href="/sedan">Sedan</a>
    <a href="/suv">SUV</a>
    <a href="/truck">Truck</a>
    <a href="/account" class="account-link">My Account</a>
</nav> -->